<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Sign Up</h2>
        <form id="signupForm" action="/signup" method="post">
            <p>Your username should be at least 6 characters long.</p>
            <p>Your password should be at least 10 characters, with one special character and one digit.</p>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <input type="password" name="confirmedPassword" id="confirmedPassword" placeholder="Confirmed Password" required>
            <input type="submit" value="Submit">
        </form>
    </div>

    <script>
        const signupForm = document.getElementById('signupForm');
        const passwordInput = document.getElementById('password');
        const confirmedPassword = document.getElementById('confirmedPassword');

        signupForm.addEventListener('submit', (event) => {
            if (passwordInput.value !== confirmedPassword.value){
                event.preventDefault();
                alert('Passwords do not match. Please try again.');
            }
        });
    </script>
</body>
</html>